{% extends 'layout.sortie.html.twig'%}


{%  block main %}

    <!-- Parti uniquement visible sur smartphone -->
<div class="d-block d-md-none">


</div>
    <!--Parti uniquement visible sur tablette et ordinateur -->

    <!-- ////////////////////////  Filtre  ///////////////////////////////////-->


<div id="divFiltre" >
    <br><h3>Filtrer les sorties</h3>
    <form method="post" action="{{ path('accueil') }}" id="formFiltre" name="filtre" class="filtre">

    <div id="form1">
            <div id="b1">
                <label> Nom de la sortie:
                    <input name="search" type="text">
                </label>
            </div>

            <div id="b2">
                <label id="labelEntre">Entre :
                    <input name="dateDebut" type="date">
                </label>
                <label>et :
                    <input name="dateFin"  type="date">
                </label>
            </div>

            <div id="b6">
               <label for="selecCampus">Campus
               <select id="selecCampus" name="selectCampus"  >
                   {% for camp in campus %}
                       {% if camp == app.user.campus %}
                           <option {{ optionUser }} value="{{ camp.nomCampus }}" >{{ camp.nomCampus }}</option>
                       {% endif %}
                       {% if camp != app.user.campus and camp.nomCampus != selectCampus%}
                           <option value="{{ camp.nomCampus }}" >{{ camp.nomCampus }}</option>
                       {% endif %}
                       {% if camp != app.user.campus and camp.nomCampus == selectCampus%}
                           <option value="{{ camp.nomCampus }}" {{ optionOther }} >{{ camp.nomCampus }}</option>
                       {% endif %}
                   {% endfor %}
               </select></label><br>
            </div>

            <div id="b4" class="filtre_3 col-md-3">
                <button name="rechercher">Rechercher</button>
            </div>
        </div>

        <div id="form2">
            <!-- /////////////    Les Checkbox  //////////////////////////// -->
            <label class="label" for="organisateur">Sorties dont je suis l'organisateur/trice<input type="checkbox" class="ib6" id="organisateur" name="organisateur" {{ organisateurCheck }} ></label><br>
            <label class="label" for="inscrit">Sorties auxquelles je suis inscrit/e<input type="checkbox" class="ib6" id="inscrit" name="inscrit" {{ inscritCheck }} ></label><br>
            <label class="label" for="pasInscrit">Sorties auxquelles je ne suis pas inscrit/e<input type="checkbox" class="ib6" id="pasInscrit" name="pasInscrit" {{ pasInscritCheck}} ></label><br>
            <label class="label" for="passees">Sorties passées</label><input type="checkbox" class="ib6" id="passees" name="passees" {{ passeesCheck }} >
        </div>
    </form><br><br>
    <!-- ///////////////// Le tableau des Sorties /////-->
</div>
        <table class="tableauSortie col-md-12 col-lg-12 d-none d-md-block">
            <thead>
            <tr>
                <th>Nom de la sortie</th>
                <th>Campus de la sortie</th>
                <th >Date de la sortie</th>
                <th >Clôture</th>
                <th>Inscrits/Places</th>
                <th>Etat</th>
                <th>Inscrit</th>
                <th>Organisateur</th>
                <th>Actions</th>
                {% if app.user.administrateur==1 %}
                    <th>Actions Administrateur</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>

            <tr><td class="sousTitre" colspan="10">Sorties dont je suis l'organisateur</td></tr>
            {% if (  organisateurCheck  == "checked=\"checked\"") %}
            {% for sortie in sorties2|filter(sortie=> dateDebut<sortie.dateHeure|date("Y-m-d") and dateFin>sortie.dateHeure|date("Y-m-d")) %}
                {% include 'sortie/accueilBody.html.twig' %}
            {% endfor %}
            {% endif %}

            <tr><td class="sousTitre" colspan="10">Sorties où vous êtes inscrit/e</td></tr>
            {% if (  inscritCheck  == "checked=\"checked\"") %}
            {% for sortie in sorties3|filter(sortie=> dateDebut<sortie.dateHeure|date("Y-m-d") and dateFin>sortie.dateHeure|date("Y-m-d")) %}
                    {% include 'sortie/accueilBody.html.twig' %}
            {% endfor %}
            {% endif %}

            <tr><td class="sousTitre" colspan="10">Sorties où vous n'êtes pas inscrit/e</td></tr>
            {% if (  pasInscritCheck  == "checked=\"checked\"") %}
            {% for sortie in sorties4|filter(sortie=> dateDebut<sortie.dateHeure|date("Y-m-d") and dateFin>sortie.dateHeure|date("Y-m-d")) %}
                    {% include 'sortie/accueilBody.html.twig' %}
            {% endfor %}
            {% endif %}

            <tr><td class="sousTitre" colspan="10">Sorties Passée</td></tr>
            {% if (  passeesCheck  == "checked=\"checked\"") %}
            {% for sortie in sorties5|filter(sortie=> dateDebut<sortie.dateHeure|date("Y-m-d") and dateFin>sortie.dateHeure|date("Y-m-d") ) %}
                    {% include 'sortie/accueilBody.html.twig' %}
            {% endfor %}
            {% endif %}

            </tbody>
        </table><br>

    <div class="col d-none d-md-block">
        <a id="creerSortie" href="{{ path('sortie_creation') }}">Créer une sortie</a>
    </div><br>
{% endblock %}
{% block title %}Accueil{% endblock %}